<%= javascript_include_tag "tabela" %>

<h1>Matriz de Pareamento</h1>

<%= @params %>

<%= render 'tabela' %>
<div class="container">
<div class="col-lg-4">
</div>
<div class="col-lg-4">
<h3>Pares Sorteados:</h3>
 <% @duplas.each do |dupla| %>
   <%= "Dupla: #{Aluno.find(dupla[0].aluno1_id).nome}  +  #{Aluno.find(dupla[0].aluno2_id).nome}" %>
   <input type="hidden" class="id-duplas" value="<%= dupla[0].id %>"/>
   <br/>
 <% end %>

<input type="button" class="btn btn-default" value="Sortear Novamente" id="botao-manter" onclick="manter_historia()"/>
<input type="button" class="btn btn-default" value="Confirmar Dupla" id="botao-confirmar" onclick="confirmar_dupla()"/>
</div>
<div class="col-lg-4">
</div>
</div>
