<%= form_for(@dupla) do |f| %>
  <% if @dupla.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@dupla.errors.count, "error") %> prohibited this dupla from being saved:</h2>

      <ul>
      <% @dupla.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :aluno1_id %><br> 
    <%= f.select :aluno1_id, options_from_collection_for_select(@alunos, :id, :nome)  %>
  </div>
  <div class="field">
    <%= f.label :aluno2_id, :class => 'teste' %><br>
    <%= f.select :aluno2_id, options_from_collection_for_select(@alunos, :id, :nome)%>
  </div>
  <div class="field">
    <%= f.label :num_pareamento %><br>
    <%= f.number_field :num_pareamento %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
