<%- model_class = Dupla -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id)%></th>
      <th><%= model_class.human_attribute_name(:aluno1_id) %></th>
      <th><%= model_class.human_attribute_name(:aluno2_id) %></th>
      <th><%= model_class.human_attribute_name(:num_pareamento) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%= model_class.human_attribute_name(:updated_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @duplas.each do |dupla| %>
      <tr>
        <td><%= link_to dupla.id, dupla_path(dupla) %></td>
        <td><%= dupla.aluno1.nome %></td>
        <td><%= dupla.aluno2.nome %></td>
        <td><%= dupla.num_pareamento %></td>
        <td><%=l dupla.created_at %></td>
        <td><%=l dupla.updated_at %></td>
        <td>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

